<h1>Search for Artist</h1>
<form action="/search" method="get">
  <input type="text" name="search_input" placeholder="Enter Artist Here">
  <input type="submit" value"Submit">
</form>
<ul>
  <% @artists.each do |artist| %>
  <li><%=  artist.name %></li>
  <% end %>
</ul>
